.crop-container{
    width: 100%;
    height: fit-content;
    background: #f8f8f8f3;
    position: relative;
    color: #444;
    z-index: 1;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.crop-container #parent-grid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 10% 10% 70% 10%;
    background: #f8f8f8f3;
    position: relative;
    color: #444;
    z-index: 1;
}

.crop-container #heading {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.crop-container .image {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-shadow: rgba(7, 7, 7, 0.3) 10px 10px 32px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crop-container #uncropped-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.crop-container #cropped-img {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image img {
    height: 65vh;
    width: 50vw;
}

.c1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: auto;
    background-color: red;
}
.c2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-right: auto;
    background-color: blue;
}